$color-background: #ebf0fa;
$color-heading: #1f4284;
$color-text: #727272;
$color-button: #244c98;
$color-light: #ffffff;
$color-dark: #000000;
$color-modal-background: #f0f4fc;
$color-modal-heading: #323232;
$color-form-background: #d7e2f6;
$color-overlay: rgba(80, 80, 80, 0.4);

$pc-width: 1920px;
$laptop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 375px;
